/* <system section="theme" selected="report"> */
@import "/css/theme/report/report.css";
/* </system> */

/* <system section="background" selected="default"> */
/* default */
/* </system> */

/* for report */

/* フォント */
body {
    font-family: 'Helvetica Neue', 'Helvetica', 'Univers', 'Arial', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'MS PGothic', sans-serif;
}

.entry-title a {
    font-size: 160%;
}

.entry-content {
    font-size: 16px;
}

.entry-content h1{  
    background:#eee; 
    border-left:10px solid #ccc;  
    border-top:1px solid #ccc;
    padding:.6em .6em;
    line-height: 80%;
    
    font-size: 160%;
}

.entry-content h2{  
    border-left:10px solid #ccc;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:.6em .6em;
    line-height: 80%;
    
    font-size: 155%;
}

.entry-content h3{  
    border-left:10px solid #ccc;
    border-bottom: none;
    padding:.6em .6em;
    line-height: 80%;
    
    font-size: 150%;
}

.entry-content h4{  
    border-bottom:3px solid #ccc;
    padding-bottom:.6em;
    line-height: 80%;
    
    font-size: 145%;
}

.entry-content h5{
    border-bottom:1px solid #ccc;
    line-height: 80%;
    padding-bottom:.6em;
    
    font-size: 140%;
}

.entry-content h6{
    font-size: 140%;
}


/* ソースコード表示まわり */
.entry-content pre{
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #fafafa;
}
.entry-content pre.code {
  font-size: 90%;
}

/* 引用表示 */
.entry blockquote {
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 3px solid #b3bfc7;
  padding: 2px 0 2px .7em;
  color: #626e77;
}


@media screen and (min-width:1200px) {
    
#container{
    width: 95%;
}

#content {
  padding-left: 70px;
}

#content-inner {
  zoom: 1;
}
#content-inner:after {
  content: '';
  display: block;
  clear: both;
}
#wrapper {
  float: left;
  width: 100%;
   /*(サイドバーの幅 + 記事とサイドバーの間隔 ) × (-1) */
  margin-right: -220px; 
}
#wrapper #main {
  margin-left: 0px;
   /*サイドバーの幅 + 記事とサイドバーの間隔  */
  margin-right: 220px; 
}
#box2 {
  float: right;
   /*サイドバーの幅 */
  width: 180px; 
}

.search-form .search-module-input {
  width: 160px;
}

/* キーワード下線を消す */
a.keyword {
    border: transparent 0px;
}
}
